<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<footer>
    <div class="content">
        <div class="left box" id="boxleft">
            <div class="topic">EXPLORE</div>
            <div><a href="#">News</a></div>
            <div><a href="#">Home Loans</a></div>
            <div><a href="#">Sitemap</a></div>
            <div><a href="#">International</a></div>
        </div>

        <div class="middle box" style="padding-bottom: 5%;">
            <div class="topic">COMPANY</div>
            <div><a href="#">Careers</a></div>
            <div><a href="#">About Us</a></div>
            <div><a href="#">For Partners</a></div>
            <div><a href="#">Terms</a></div>
            <div><a href="#">Privacy Policy</a></div>
        </div>
        <div class="upper box">
            <div class="foot-img">
                <div class="topic" style="padding-left: 5%;">Our Achievements</div>
                <img src="../../assets/footer/footer.jpg" width="60%">
                <img src="../../assets/footer/footer2.png" width="30%">
            </div>
        </div>
        <div class="right box">
            <div class="foot-img">
                <div class="topic" style="padding-left: 5%;">Our Partnered Brands</div>
                <div class="row">
                    <div class="col">
                        <p style="text-decoration: none;"><img src="../../assets/footer/oyo.png" width="60%">Oyo</p>
                    </div>
                    <div class="col">
                        <p style="text-decoration: none;"><img src="../../assets/footer/zillow.png" width="60%">Zillow</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <p style="text-decoration: none;"><img src="../../assets/footer/99acres.png" width="60%">99Acres</p>
                    </div>
                    <div class="col">
                        <p style="text-decoration: none;"><img src="../../assets/footer/packers.jpg" width="60%">Dev P & M</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">PARTNER SITES</div>
            <div><a href="#">Proptiger</a></div>
            <div><a href="#">Makaan</a></div>
            <div><a href="#">IREF</a></div>
            <div><a href="#">realestate.com.au</a></div>
            <div><a href="#">realtor.com</a></div>
            <div><a href="#">99.co</a></div>
        </div>
        <div class="right box">
            <div class="topic">Subscribe us</div>
            <form action="#">
                <input type="text" placeholder="Enter email address">
                <input type="submit" name="" value="Send">
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2022 <a href="#">Gruham.com</a> All rights reserved</p>
    </div>
</footer>



