




<footer class="d-flex flex-wrap justify-content-between m-4 ">
  
  <!-- info about company -->
  <div class="m-1">
      
      <ul class="list-unstyled">
          <li><mat-icon  class="mat-icon notranslate mat-primary material-icons" aria-hidden="true" data-mat-icon-type="font">call</mat-icon>123-456-789</li>
          <li><mat-icon  class="mat-icon notranslate mat-primary material-icons" aria-hidden="true" data-mat-icon-type="font">mail_outline</mat-icon>name@example.com</li>
          <li><mat-icon  class="mat-icon notranslate mat-primary material-icons" aria-hidden="true" data-mat-icon-type="font">location_on</mat-icon>Hyd,A.P</li>
      </ul>
      
      <strong> join us </strong>
      <a  href="https://www.facebook.com/"  target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"></path></svg></a>
      <a  href="https://twitter.com/"       target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z"></path></svg></a>
      <a  href="https://www.linkedin.com/"  target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"></path></svg></a>
      <a  href="https://plus.google.com/"   target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M19.5,12H18V10.5H17V12H15.5V13H17V14.5H18V13H19.5V12M9.65,11.36V12.9H12.22C12.09,13.54 11.45,14.83 9.65,14.83C8.11,14.83 6.89,13.54 6.89,12C6.89,10.46 8.11,9.17 9.65,9.17C10.55,9.17 11.13,9.56 11.45,9.88L12.67,8.72C11.9,7.95 10.87,7.5 9.65,7.5C7.14,7.5 5.15,9.5 5.15,12C5.15,14.5 7.14,16.5 9.65,16.5C12.22,16.5 13.96,14.7 13.96,12.13C13.96,11.81 13.96,11.61 13.89,11.36H9.65Z"></path></svg></a>
  </div>

  <!-- feedback form -->
  <div class="feedback m-2">
      <h2 class="uppercase">Feedback</h2>
      <p class="desc">We want your feedback about everything</p>
      <!-- <form novalidate="" [formGroup]="feedBackForm" class="custom-form pt-2 ng-untouched ng-pristine ng-invalid">
          
          <mat-form-field appearance="outline" class="d-block m-auto mb-2"> 
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="feedBackForm.controls['email'].touched && feedBackForm.controls['email'].invalid">invalid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
 
<div  class="w-100 text-center">
  <button  mat-flat-button="" color="primary" type="submit" class="mat-focus-indicator uppercase mat-flat-button mat-button-base mat-primary">
      <span class="mat-button-wrapper">Submit</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span>
  </button>
</div>
      </form> -->
</div>

<!-- location div -->
  <!-- <div class="Grid-col Grid-col--tablet-3  Grid-col--desktopSmall-2 FooterNew-link-section">
      <h5 class="">Apps</h5>
      <div class="FooterNew-appStoreIcons">
          <a href="https://bnc.lt/Ed5l/VcovUszaWr" class="FooterNew-appStoreIcon" target="_blank" title="Download on the App Store" data-qtsb-section="footer" data-qtsb-subsection="AppsAndSocial" data-qtsb-label="GoToAppleStore">
                  <img class="FooterNew-appStoreIcon-image" src="https://www.f-cdn.com/assets/img/footer/app-store-1f36bbd8.svg" alt="Apple App Store Badge" loading="lazy" width="300" height="89">
          </a>
          <a href="https://bnc.lt/Ed5l/VcovUszaWr" class="FooterNew-appStoreIcon" target="_blank" title="Get it on Google Play" data-qtsb-section="footer" data-qtsb-subsection="AppsAndSocial" data-qtsb-label="GoToPlayStore">
                  <img class="FooterNew-appStoreIcon-image" src="https://www.f-cdn.com/assets/img/footer/google-play-66442243.svg" alt="Google Play Store Badge" loading="lazy" width="300" height="88">
          </a>
      </div>

  </div> -->
  
  <div class="d-flex flex-wrap justify-content-evenly">
              <div>58,238 <span> Registered Users </span> </div>
              <div class="flex-wrap d-flex justify-content-between">
                      <p> Swagruham® is a registered Trademark of Rental Limited &amp; Swaruham India Private Limited</p>
                      <p>Copyright © 2022 Swaruham Limited</p>
                  </div>
              </div>
          </footer>


          <footer class="footer">
              <div class="footermainrow justify-content-between d-flex flex-wrap">
                  <div class="">
                      <a href="#" class="logofooter w-inline-block">
                          <!-- <img src="https://assets.website-files.com/5ef1eb22a51229e0c552cdfc/5ef1eb22a51229549f52ce43_LogoFooter.svg" alt="" class="image-2"></a> -->
                          <img src="" alt="Company LOGO" class="img-fluid"></a>
                          <p class="footertext">Best PLace for growing rental practices.</p>
                  </div>

                  <div class="footerformblock">
                      <p class="footercaps">To join our community drop your mail here</p>
                      <div class="form-block">

                          <!-- <form class="form" [formGroup]="feedBackForm" (submit)="formSubmit()">
                              <input type="text" class="text-field w-input" maxlength="256" data-name="Name 2" placeholder="Your e-mail"  required>
                              <input type="submit" value="subscribe" class="subscribebutton w-button">
                          </form> -->
<!-- 
                          <div *ngIf=" feedBackForm.controls['email'].touched && feedBackForm.controls['email'].invalid" class="text-danger text-center">
                              <div *ngIf="feedBackForm.controls['email'].errors?.['required']">email is required</div>
                              <div *ngIf="feedBackForm.controls['email'].errors?.['pattern']">must contain AlphaNumerics</div>
                          </div> -->

                          <div class="w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
                              <div>Thank you! Your submission has been received!</div>
                          </div>
                          <div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
                              <div>Oops! Something went wrong while submitting the form.</div>
                          </div>
                      </div>
                  </div>
              </div>

                      <div class="contactsblock">
                          <div class="smblock">
                              <strong> join us </strong>
                              <a  href="https://www.facebook.com/"  target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"></path></svg></a>
                              <a  href="https://twitter.com/"       target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z"></path></svg></a>
                              <a  href="https://www.linkedin.com/"  target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"></path></svg></a>
                              <a  href="https://plus.google.com/"   target="blank"  class="social-icon"><svg  viewBox="0 0 24 24" class="mat-icon mat-icon-lg"><path  d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M19.5,12H18V10.5H17V12H15.5V13H17V14.5H18V13H19.5V12M9.65,11.36V12.9H12.22C12.09,13.54 11.45,14.83 9.65,14.83C8.11,14.83 6.89,13.54 6.89,12C6.89,10.46 8.11,9.17 9.65,9.17C10.55,9.17 11.13,9.56 11.45,9.88L12.67,8.72C11.9,7.95 10.87,7.5 9.65,7.5C7.14,7.5 5.15,9.5 5.15,12C5.15,14.5 7.14,16.5 9.65,16.5C12.22,16.5 13.96,14.7 13.96,12.13C13.96,11.81 13.96,11.61 13.89,11.36H9.65Z"></path></svg></a>
                      
                              </div>
                          </div>
                      <div class="phoneblock">
                          <p class="footercaps">call us</p><a href="tel:+61285419786" class="phonelink">02 8541 9786</a>
                      </div>

          </footer>
<section>
      <!-- chaining -->
        <form (submit)= "ref.valid && submit()"  #ref="ngForm" [formGroup]="dataOfProperty">
          <div class="container">          <!-- <div formGroupName="ownerDetails" class="text-center"> -->
<!-- 
                <div class="mx-auto ">
                    <label for="floatingInput" class="" >Email address</label>
                    <input type="email" class="form-control  mx-auto " id="floatingInput" >
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" >
                    <label for="floatingPassword">Password</label>
                  </div> -->


                <!-- <label for="name" class="font" style="font-size: larger; font-weight: bolder; "> Name</label><br> -->
                <div class="row g-2">
                  <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control w-50 mb-3 "  formControlName="ownerName"  id="floatingInputName" placeholder="name">
                  <label for="floatingInputName">Name</label>
                </div>
                  <!-- validations name -->
          <div class="text-danger text-center d-inline"  *ngIf ="ownerName?.invalid && ownerName?.dirty || ownerName?.touched || ref.submitted"> 
            <p *ngIf ="ownerName?.errors?.['required'] " class="d-inline" >Please enter the  Name</p>
            <p *ngIf ="ownerName?.errors?.['minlength']"  class="d-inline">Enter atleast 3 characters</p>
            <p *ngIf ="ownerName?.errors?.['maxlength']"  class="d-inline">Enter max 15 characters</p>
          </div>
        </div>

                  <div class="col-md">
                    <div class="form-floating">
                      <input type="tel" formControlName="moblieNumber" id="moblieNumber" class=" w-50 form-control  hov" placeholder=" Mobile Number">
                      <label for="moblieNumber">Number</label>
                    </div>
                      <!-- validations mobile -->
                      <div class="text-danger d-inline"  *ngIf ="moblieNumber?.invalid && moblieNumber?.dirty || moblieNumber?.touched || ref.submitted "> 
                  <p *ngIf ="moblieNumber?.errors?.['required']"  class="d-inline" >Please enter the  Mobile Number </p>
                      <p *ngIf ="moblieNumber?.errors?.['minlength']"  class="d-inline">Entered Number is less than 10 digits</p>
                      <p *ngIf ="moblieNumber?.errors?.['maxlength']" class="d-inline">Invalid Mobile Number</p>
                      <p *ngIf ="moblieNumber?.errors?.['pattern']"  class="d-inline"> Only Numericals</p>
              </div>
             
                  </div>
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="email" class="form-control w-50" id="floatingInputEmail"  formControlName="email" placeholder="name@example.com" >
                      <label for="floatingInputEmail">Email</label>
                    </div>
                    <div class="text-danger  d-inline"  *ngIf ="email?.invalid && email?.dirty || email?.touched || ref.submitted "> 
                      <p *ngIf ="email?.errors?.['pattern']  "  class=" d-inline">Please enter the valid Email </p>
                      <p *ngIf ="email?.errors?.['required']" class="d-inline" >Please enter Email </p>
                      </div>

                  </div>
                </div>
              <!-- <input type="text" formControlName="ownerName" id="name" class="form-control w-25 d-inline  hov" placeholder="Name"> -->
              <!-- validations name -->
              <!-- <div class="text-danger text-center  d-inline"  *ngIf ="ownerName?.invalid && ownerName?.dirty || ownerName?.touched || ref.submitted"> 
                <p *ngIf ="ownerName?.errors?.['required'] " class="d-inline" >Please enter the  Name</p>
                <p *ngIf ="ownerName?.errors?.['minlength']"  class="d-inline">Enter atleast 3 characters</p>
                <p *ngIf ="ownerName?.errors?.['maxlength']"  class="d-inline">Enter max 15 characters</p>
              </div>  -->
              <!-- <input type="text" formControlName="lastName" id="name" class=" d-inline mb-3  w-25 form-control  hov" placeholder=" Last Name">
            
              <div class="text-danger text-center "  *ngIf ="ownerName?.invalid && ownerName?.dirty || ownerName?.touched || ref.submitted"> 
                <p *ngIf ="lastName?.errors?.['required']" >Please enter the last Name</p>
                <p *ngIf ="lastName?.errors?.['minlength']">Enter atleast 3 characters</p>
                <p *ngIf ="lastName?.errors?.['maxlength']">Enter max 30 characters</p>
              </div>  -->

              <!-- <label for="email" class="font" style="font-size: larger; font-weight: bolder; "> Email </label> -->
              <!-- <input type="email" formControlName="email" id="email" class="  d-inline mb-3  w-25 mx-2 form-control  hov " placeholder="name@example.com"> -->
              <!-- validations mail -->
              <!-- <div class="text-danger  d-inline"  *ngIf ="email?.invalid && email?.dirty || email?.touched || ref.submitted "> 
              <p *ngIf ="email?.errors?.['pattern']  "  class=" d-inline">Please enter the valid Email </p>
              <p *ngIf ="email?.errors?.['required']" class="d-inline" >Please enter Email </p>
              </div> -->

              <!-- <div class="d-flex justify-content-evenly "> -->
                  <!-- <div class="c1 mx-1"> -->
                    
                   
                  <!-- </div> -->
<!-- 
                  <div class="c1"> -->
                    <!-- <label for="moblieNumber" class="font" style="font-size: larger; font-weight: bolder; "> Moblie No</label> -->
                    <!-- <input type="tel" formControlName="moblieNumber" id="moblieNumber" class=" d-inline mb-3 mx-2 w-25 form-control  hov" placeholder=" Mobile Number"> -->
                    <!-- validations number -->
                    <!-- <div class="text-danger d-inline"  *ngIf ="moblieNumber?.invalid && moblieNumber?.dirty || moblieNumber?.touched || ref.submitted "> 
                      <p *ngIf ="moblieNumber?.errors?.['required']"  class="d-inline" >Please enter the  Mobile Number </p>
                      <p *ngIf ="moblieNumber?.errors?.['minlength']"  class="d-inline">Entered Number is less than 10 digits</p>
                      <p *ngIf ="moblieNumber?.errors?.['maxlength']" class="d-inline">Invalid Mobile Number</p>
                      <p *ngIf ="moblieNumber?.errors?.['pattern']"  class="d-inline"> Only Numericals</p>
                    </div>  -->
                  <!-- </div> -->
              <!-- </div> -->
          <!-- </div> -->

          <div formGroupName="description" class="mt-4 description">
                <!-- <label for="area" class="font" style="font-size: larger; font-weight: bolder; "> Area</label> -->
              <div class="row d-flex justify-content-evenly mb-3 g-2">
                <div class="col-md col-sm-4">
                <div class="form-floating">
                  <input type="text" formControlName="area" id="area" class= "d-inline hov  form-control w-50" placeholder=" Area" >
                  <label for="area">Area</label>
                </div>
                <!-- <input type="text" formControlName="area" id="area" class= "d-inline hov  form-control w-25 mb-3 " placeholder=" Area"> -->
            <!-- validation -->
            <div class="text-danger text-center d-inline"  *ngIf ="area?.invalid && area?.dirty || area?.touched || ref.submitted "> 
                <p *ngIf ="area?.errors?.['required']"   class="d-inline">Please enter the Area</p>
                <p *ngIf ="area?.errors?.['minlength']"  class="d-inline">Enter atleast 3 characters</p>
                <p *ngIf ="area?.errors?.['maxlength']"  class="d-inline">Invalid Area</p>
              </div> 
            </div>

            <div class="col-md  col-sm-4 col-xs-12">
              <!-- <label for="streetName" class="font"   style="font-size: larger; font-weight: bolder; "> Street </label> -->
              <div class="form-floating">
                <input type="text" formControlName="streetName" id="streetName" class="d-inline  hov  form-control w-50 hov" placeholder="Street Name" >
                <label for="streetName">streetname</label>
              </div>
             
              <!-- <input type="text" formControlName="streetName" id="streetName" class="d-inline  hov  form-control w-25 mb-3   hov" placeholder=" Street Name"> -->
              <div class="text-danger text-center d-inline"  *ngIf ="streetName?.invalid && streetName?.dirty || streetName?.touched || ref.submitted "> 
                <p *ngIf ="streetName?.errors?.['required']"   class="d-inline">Please enter Street </p>
              </div>
            </div>

             <div class="col-md col-sm-4">
                <!-- <label for="hno" class="font"  style="font-size: larger; font-weight: bolder; "> H:NO</label> -->
                <div class="form-floating">
                  <input type="text" formControlName="hno" id="hno" class="d-inline form-control w-50 hov" placeholder=" House Number">
                  <label for="hno">House no</label>
                </div>
                
                <!-- <input type="text" formControlName="hno" id="hno" class="d-inline form-control w-25 mb-3 hov" placeholder=" House Number"> -->
               <!-- validation -->
               <div class="text-danger text-center d-inline"  *ngIf ="hno?.invalid && hno?.dirty || hno?.touched || ref.submitted "> 
                <p *ngIf ="hno?.errors?.['required']"   class="d-inline">Please enter the  H:N0</p>
                <p *ngIf ="hno?.errors?.['minlength']"  class="d-inline">Enter atelat 3 characters</p>
                <p *ngIf ="hno?.errors?.['maxlength']"  class="d-inline">Invalid Pincode</p>
              </div>
            </div>
              <!-- <label for="bhktype" class="font"   style="font-size: larger; font-weight: bolder; ">Property </label> -->
            </div>


            <div class="row d-flex justify-content-evenly mb-3 g-2">
            
            <div class="col-md">
              <div class="form-floating">
                <input type="text" formControlName="bhktype" id="bhktype" class="d-inline form-control w-50 hov" placeholder="Flat/villa/Individual House ">
                <label for="bhktype">BHK</label>
              </div>
              <div class="text-danger text-center d-inline"  *ngIf ="bhktype?.invalid && bhktype?.dirty || bhktype?.touched || ref.submitted "> 
                <p *ngIf ="bhktype?.errors?.['required']"   class="d-inline">This field is mandatory </p>
              </div>
            </div>
            
            <div class="col-md">  
            <!-- <label for="pincode" class="font"   style="font-size: larger; font-weight: bolder; "> Pincode </label> -->
            <div class="form-floating">
              <input type="text" formControlName="pincode" id="pincode" class=" d-inline form-control w-50 mb-3 hov" placeholder="Pincode">
              <label for="pincode">Pincode</label>
            </div>
        <!-- validation -->
            <div class="text-danger text-center d-inline"  *ngIf ="pincode?.invalid && pincode?.dirty || pincode?.touched || ref.submitted "> 
                <p *ngIf ="pincode?.errors?.['required']"  class="d-inline">Please enter the Pincode </p>
                <p *ngIf ="pincode?.errors?.['minlength']"  class="d-inline">Entered Number is less than 6 digits,</p>
                <p *ngIf ="pincode?.errors?.['maxlength']"  class="d-inline">Invalid Pincode</p>
                <p *ngIf ="pincode?.errors?.['pattern']" class="d-inline"> Only Numericals</p>
              </div> 
            </div>


              <!-- <label for="city" class="font"   style="font-size: larger; font-weight: bolder; "> City </label> -->

            <div class="col-md">
              <div class="form-floating">
                <input type="text" formControlName="city" id="city" class="  d-inline form-control w-50  mb-3 hov" placeholder="City">
                <label for="city">city</label>
              </div>
            <!-- validation -->
            <div class="text-danger text-center d-inline"  *ngIf ="city?.invalid && city?.dirty || city?.touched || ref.submitted "> 
                <p *ngIf ="city?.errors?.['required']"  class="d-inline">Please enter the City</p>
                <p *ngIf ="city?.errors?.['minlength']" class="d-inline">Enter atleast 3 characters</p>
                <p *ngIf ="city?.errors?.['maxlength']" class="d-inline">Invalid city</p>
              </div> 

            </div>
      </div>

            <!-- <textarea  formControlName="detailsofhouse" class="d-block  mx-auto w-50  form-control  m-3 hov" cols="30" rows="5" placeholder="Deatils of house (No of bedroom, Garden area, Parking facility, Furnishing etc)" ></textarea> -->
        
              <!-- <label for="rent" class="font"   style="font-size: larger; font-weight: bolder; "> Rent  </label> -->
              
            <input type="text" formControlName="rent" id="rent" class=" d-inline w-50 form-control m-auto mb-3 hov" placeholder="Rent of house ">
            <!-- validation -->
            <div class="text-danger text-center d-inline "  *ngIf ="rent?.invalid && rent?.dirty || rent?.touched || ref.submitted "> 
                <p *ngIf ="rent?.errors?.['required']"  class="d-inline">Please enter Rent</p>
                <p *ngIf ="rent?.errors?.['pattern']" class="d-inline"> Only Numericals</p>
                
            </div>
        </div>
        
   
        
        <div class="form-group">      
            <label for="file">File</label>     
            <input  formControlName="file" id="file"  type="file"  class="form-control w-75" multiple=""  (change)="onFileChange($event)"> 
          </div>
    
              <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
              <div class="text-center"><button type="submit" class="btn btn-success bhov"> Add Details</button>
             </div>
             </div>
        </form>

  </section>



