<section class="my-5 p-5  bg-light">
    <div class="container m-auto">
        <div class="row g-0">
            
            <div class="col-lg-5">
               <a href="" routerLink="home"> <img src="https://wallpaperaccess.com/full/1126760.jpg"  class="img-fluid" alt=""></a>
            </div>
    
                <div class="col-lg-7  d-block m-auto">
                    <h1 class="animate__animated animate__heartBeat text-center">Swagruham</h1>
    
                    <form class="form" [formGroup]="loginForm" (submit)="formSubmit()">
    
                        <input type="email" class="form-control d-block m-auto shadow-none rounded-pill w-50 text-center mt-3" formControlName="email" placeholder="Email" autocomplete="true">
                        <div *ngIf=" loginForm.controls['email'].touched && loginForm.controls['email'].invalid" class="text-danger text-center">
                            <div *ngIf="submitted && loginForm.controls['email'].errors?.['required']">email is required</div>
                            <div *ngIf="submitted && loginForm.controls['email'].errors?.['pattern']">must contain AlphaNumerics</div>
                          </div>

                        <input type="password" class="form-control d-block m-auto shadow-none rounded-pill w-50 text-center mt-3" placeholder="Password" formControlName="password">
                        <div *ngIf=" loginForm.controls['password'].touched && loginForm.controls['password'].invalid" class="text-danger text-center">
                            <div *ngIf="submitted && loginForm.controls['password'].errors?.['required']">password is required</div>
                          </div>
                        
                 
                            <mat-form-field appearance="standard" class=" d-block m-auto w-50 mb-2"> 
                              <mat-label>Enter your email</mat-label>
                              <input matInput formControlName="email" required>
                              <mat-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">invalid email</mat-error>
                            </mat-form-field>
                         

                          <mat-form-field class="full-width d-block m-auto w-50">
                            <mat-label>Enter your password</mat-label>
                            <!-- <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"> -->
                            
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>

                              <mat-error *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">invalid password
                                  <!-- <div *ngIf=" loginForm.controls['password'].touched && loginForm.controls['password'].invalid" class="text-danger text-center"> -->
                                      <div *ngIf="submitted && loginForm.controls['password'].errors?.['required']">password is required</div>
                                    <!-- </div> -->
                              </mat-error>
      
                        </mat-form-field>

                                                     
                       <!--   <div class="form-group">
                              <label for="file">File</label>
                              <input  formControlName="file" id="file"  type="file"  class="form-control" multiple=""  (change)="onFileChange($event)">
                              <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                                  <div *ngIf="f['file'].errors['required']">File is required.</div>
                                </div>
                            </div>
                            
                            <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/> -->
                            

                            <!-- <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

                            <div class="file-upload">

                            {{fileName || "No file uploaded yet."}}

                                <button mat-mini-fab color="primary" class="upload-btn btn btn-info" (click)="fileUpload.click()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                            </div> -->

                            <button  type="submit" class="btn d-block m-auto my-3 shadow-none button-29" >Log in</button>
                    </form>
                    <p class="text-center mb-3">New to  this Page?<a href="" class="text-decoration-none signup" roterLink="">Sign Up</a></p>
                </div>
    </div>
    </div> 


  </section>
  <!-- <span class="hovertext" data-hover="Hello, this is the tooltip">
    Try hover over me
  </span> -->
