<!-- <h1>root component</h1>
<div class="border border-danger m-auto d-block">
<userprofile></userprofile>
</div> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="" routerLink="home"><img src="" alt="logo"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item"><a class="nav-link active" routerLink="">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="">Demo</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="">Features</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="">Support</a></li>
            </ul>
            <div class="others-options">
                <a href="https://1.envato.market/rKAmj" class="default-btn-two" target="_blank"><i class="fas fa-cart-plus"></i> Buy Now!</a>
            </div>
        </div>
    </div>
</nav> -->


<div class="d-flex flex-wrap justify-content-evenly">
<button class="btn" routerLink="contactus">Contact us</button>
<!-- <button class="btn" routerLink="products">products</button> -->
<button class="btn" routerLink="addapparment">add appartment</button>
<button class="btn" routerLink="home">Home</button>
<button class="btn" routerLink="signup">Sign up</button>
<button class="btn" routerLink="login">Login</button>
</div>
<router-outlet></router-outlet>
