<!-- <h1>root component</h1>
<div class="border border-danger m-auto d-block">
<userprofile></userprofile>
</div> -->



<nav class="navbar navbar-expand-sm navbar-light ">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">GRUHAM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto mb-2  ">
          <li class="nav-item hh ">
            <a class="nav-link  " routerLink="/home" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item hh">
            <a class="nav-link " routerLink="/aboutus" routerLinkActive="active" >About us</a>
          </li>
          <li class="nav-item hh">
            <a class="nav-link  " routerLink="/cart" routerLinkActive="active">Cart </a>
          </li>
          <li class="nav-item hh ">
            <a class="nav-link " routerLink="/login" routerLinkActive="active">Log in </a>
          </li>

        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="hello; else ref1 "  (click)="changehello() " >  <button class="btn btn-primary"> log in</button> </a>
          </li> 
          <ng-template #ref1 >
        <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"  >  <button class="btn btn-success "> log out</button> </a>
      </li> 
          </ng-template> -->
        
        </ul>
      
      </div>
    </div>
  </nav>




<div class="d-flex flex-wrap justify-content-evenly">
<button class="btn" routerLink="contactus">Contact us</button>
<button class="btn" routerLink="products">products</button>
<button class="btn" routerLink="addapparment">add appartment</button>
<button class="btn" routerLink="home">Home</button>
<button class="btn" routerLink="signup">Sign up</button>
<button class="btn" routerLink="login">Login</button>
</div>
<router-outlet></router-outlet>

<!-- <mat-sidenav-container class="all-wrap"> -->

  <!-- <mat-sidenav #sidenav over>
    <mat-list>
      <mat-list-item *ngFor="let route of routes" [routerLink]="route.path" (click)="sidenav.toggle()">
        <mat-icon>code</mat-icon>&emsp;{{route.name}}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap img-bg">

    <mat-toolbar>
      <mat-toolbar-row>
        <span>
          <mat-icon (click)="sidenav.open()">menu</mat-icon>
        </span>
        <span><h1> GRUHAM</h1></span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="info">
      <mat-card class="home">
        <mat-card-title>Angular 7 and Material 2 Sticky Footer Example</mat-card-title>
        <mat-card-content>
          This demo was created with Material Version 7.1.1
        </mat-card-content>
        <mat-card-actions>
          <button class="color-font" mat-button>
            <a
              href="https://github.com/CanKattwinkel/material-2-sticky-footer-mat-sidenav/"
              target="_blank"
            >Source code at GitHub
            </a>
          </button>
          <button class="color-font" mat-button>
            <a
              href="https://www.thecodecampus.de/blog/material-2-sticky-footer-mat-sidenav/"
              target="_blank"
            >Our blog post
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <main class="content">
      <router-outlet></router-outlet>
    </main> -->



  <!-- </mat-sidenav-content> -->

<!-- </mat-sidenav-container> -->



<app-footer></app-footer>