<p>home works!</p>
<!-- 
<div class="card">
    <div class="card-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate dicta, ratione culpa non unde at similique ipsa velit adipisci soluta nesciunt, magnam voluptatum, consequuntur perferendis excepturi illo. Eum, distinctio rerum ad odio cum aliquid reprehenderit at blanditiis non, possimus perspiciatis ducimus quibusdam, sit ipsa corrupti incidunt eos. Et omnis laudantium adipisci voluptatem enim dolore doloremque voluptatibus modi. Reprehenderit ipsam nihil excepturi ducimus, saepe odit neque nostrum perspiciatis quibusdam nesciunt labore dolore, ratione quasi esse. Necessitatibus!
    </div>
</div> -->
<!-- <app-card></app-card> -->

<!-- <section class="lyt-section">
  
    <form [formGroup]="range">
        <select class="form-control mt-0" 
        formControlName="location" 
        placeholder="Select Location"
        required>
  <option value="">Select Location</option>
  <option *ngFor="let city of locations">{{city}}</option>
</select>

       
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
        
          <p>Selected range: {{range.value | json}}</p> -->
         <!-- <button type="submit" class="btn" (click)="search()">Search</button>
        
          <div class="form-group">
   
            <label for="exampleInputEmail1">Location</label>
   
            <div class="near-prent">
    <select class="form-control form-control-sm" formControlname="location" name="search_city" required="">
    <option value="">Select Location</option>
    <option>Bellandur, Hyd,TELANGANA</option>
    <option>BTM Layout, Hyd,TELANGANA</option>
    <option>Marthahalli, Hyd,TELANGANA</option>
    <option>HSR Layout, Hyd,TELANGANA</option>
    </select>
    </div>
   
    </div>
    </form> -->

<!-- 
    <div class="container">  
    <div class="row">
    <div class="col-md-4">
    <h2 class="title">Explore properties</h2>
    <p class="paragraph">You can now choose from our various options available across furnished, semi furnished and share houses..</p>

        <ul class="list-unstyled">
            <li><button class="btn furniture">Furnished</button></li>
            <br>
            <li><button class="btn furniture">Semi furnished</button></li>
            <br>
            <li><button class="btn furniture">Shared houses</button></li>
        </ul>
    </div> --> 


    <!-- <div class="col-md-8"> -->
        
    <!-- <owl-carousel-o [options]="customOptions">
     
        <ng-template carouselSlide class="carouselslide">
            <h1>STUDIO</h1>
            <img src="https://www.rentmystay.com/resource/home/assets/images/room1.png" alt="" class="img-fluid">
            <p class="rm-info">
                <a href="" >BTM Layout</a>
                <span ></span> |
                <a href="" >Hoodi</a>
                <span ></span> |
                <a href="" >HSR Layout</a>
                <span ></span> |
                <a href="">Nagar</a>
                <span ></span> |
                <a href="" >Kasavanahalli</a>
                <span ></span> |
                <a href="" >Koramangala</a>
                <span ></span> |
                <a href="" >Kudlu gate</a>
                <span ></span> |
                <a href="">e ;">Kundanahalli</a>
                <span ></span> |
                <a href="" >Marathahalli</a>
                <span ></span> |
                >
        </ng-templ>>  
        <ng-template carouselSlide>
            <h1>1 BHK</h1> 
            <img src="https://www.rentmystay.com/resource/home/assets/images/room2.png" alt="" class="img-fluid">
            <p class="rm-info">
                <a href="" >BTM Layout</a>
                <span ></span> |
                <a href="" >Hoodi</a>
                <span ></span> |
                <a href="" >HSR Layout</a>
                <span ></span> |
                <a href="">Nagar</a>
                <span ></span> |
                <a href="" >Kasavanahalli</a>
                <span ></span> |
                <a href="" >Koramangala</a>
                <span ></span> |
                <a href="" >Kudlu gate</a>
                <span ></span> |
                <a href="">e ;">Kundanahalli</a>
                <span ></span> |
                <a href="" >Marathahalli</a>
                <span ></span> |
             </p>
        </ng-templ>>  
        <ng-template carouselSlide>
            <h1>2 BHK</h1>
            <img src="https://www.rentmystay.com/resource/home/assets/images/room3.png" alt="" class="img-fluid">
            <p class="rm-info">
                <a href="" >BTM Layout</a>
                <span ></span> |
                <a href="" >Hoodi</a>
                <span ></span> |
                <a href="" >HSR Layout</a>
                <span ></span> |
                <a href="">Nagar</a>
                <span ></span> |
                <a href="" >Kasavanahalli</a>
                <span ></span> |
                <a href="" >Koramangala</a>
                <span ></span> |
                <a href="" >Kudlu gate</a>
                <span ></span> |
                <a href="">e ;">Kundanahalli</a>
                <span ></span> |
                <a href="" >Marathahalli</a>
                <span ></span> |
             </p>
        </ng-templ>>  
       </owl-carousel-o>
    </div>
    </div>
    </div>
    </section> -->


    <!-- <section class="lyt-section">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
        <div class="bs-heading">
        <h2 class="title" >Why GRUHAM?</h2>
        </div>
        <div class="bs-why-rent ">
        <ul>
        <li>Fully furnished and ideal for long term
        and short term <span class="new-line"></span> rentals. Alt to Service Apartments and
        hotels.</li>
        <li > largest network of curated rental houses</li>
        <li > Rent for Any Duration</li>
        <li > Zero Brokerage Charges</li>
        <li >Families, Couples, Friends, Singles Welcome!</li>
        </ul>
        </div>
        </div>
        <div class="col-md-6">
        <div class="wow fadeInUp" >
        <picture>
        <source media="(min-width: 650px)" srcset="https://www.rentmystay.com/resource/home/assets/images/mob-booknew.png">
        <img class="img-fluid" alt="book-on-mobile" data-pagespeed-url-hash="3281832354" src="https://www.rentmystay.com/resource/home/assets/images/Vectornew.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
        </picture>
        </div>
        </div>
        </div>
        </div>
        </section> -->

    
        <!-- <section class="lyt-section">
            <h2 class="title">Our App in news</h2>
            <p class="paragrapwow fadeInUp" >Game Changer for House Rental Trade in India</p>
            <div class="container">   
            <div class="row">               <div class="col-md-4 col-lg-4"><img src="https://www.rentmystay.com/resource/home/assets/images/ur-story.png" alt=""></div>
                <div class="col-md-4 col-lg-4"><img src="https://www.rentmystay.com/resource/home/assets/images/dh-logo.png" alt=""></div>
                <div class="col-md-4 col-lg-4"><img src="https://www.rentmystay.com/resource/home/assets/images/xstartup.png" alt=""></div>
            </div>
            </div>

            
            </section> -->


            <div class="container-fluid">
                <div class=" bg-image p-5 text-center mb-5 text-white">
                <div class="jumbotron jumbortron-fluid" >
                <h1 class="display-4"> Welcome title</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloribus nesciunt deserunt!</p>
                </div>
                <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
                </span>
                </div>
                </div>

                <div class="container">  
                    <div class="row">
                    <div class="col-md-4">
                    <h2 class="title">Explore properties</h2>
                    <p class="paragraph">You can now choose from our various options available across furnished, semi furnished and share houses..</p>
                
                        <ul class="list-unstyled">
                            <li><button class="btn furniture">Furnished</button></li>
                            <br>
                            <li><button class="btn furniture">Semi furnished</button></li>
                            <br>
                            <li><button class="btn furniture">Shared houses</button></li>
                        </ul>
                    </div>
                
                
                    <div class="col-md-8">
                <owl-carousel-o [options]="customOptions">
                    <!-- <ng-template carouselSlide *ngFor="   ">  </ng-template>  -->  
                    <ng-template carouselSlide class="carouselslide">
                        <h1>STUDIO</h1>
                        <img src="https://www.rentmystay.com/resource/home/assets/images/room1.png" alt="" class="img-fluid">
                        <p class="rm-info">
                            <a href=""> BTM Layout</a>
                            <span ></span> |
                            <a href="" >Hoodi</a>
                            <span ></span> |
                            <a href="" >HSR Layout</a>
                            <span ></span> |
                            <a href="">Nagar</a>
                            <span ></span> |
                            <a href="" >Kasavanahalli</a>
                            <span ></span> |
                            <a href="" >Koramangala</a>
                            <span ></span> |
                            <a href="" >Kudlu gate</a>
                            <span ></span> |
                            <a href="">Kundanahalli</a>
                           
                             </p>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <h1>1 BHK</h1> 
                        <img src="https://www.rentmystay.com/resource/home/assets/images/room2.png" alt="" class="img-fluid">
                        <p class="rm-info">
                            <a href="" >BTM Layout</a>
                            <span ></span> |
                            <a href="" >Hoodi</a>
                            <span ></span> |
                            <a href="" >HSR Layout</a>
                            <span ></span> |
                            <a href="">Nagar</a>
                            <span ></span> |
                            <a href="" >Kasavanahalli</a>
                            <span ></span> |
                            <a href="" >Koramangala</a>
                            <span ></span> |
                            <a href="" >Kudlu gate</a>
                         
                                     </p>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <h1>2 BHK</h1>
                        <img src="https://www.rentmystay.com/resource/home/assets/images/room3.png" alt="" class="img-fluid">
                        <p class="rm-info">
                            <a href="" >BTM Layout</a>
                            <span ></span> |
                            <a href="" >Hoodi</a>
                            <span ></span> |
                            <a href="" >HSR Layout</a>
                            <span ></span> |
                            <a href="">Nagar</a>
                            <span ></span> |
                            <a href="" >Kasavanahalli</a>
                            <span ></span> |
                            <a href="" >Koramangala</a>
                            <span ></span> |
                            <a href="" >Kudlu gate</a>
                            <span ></span> |
                            <a href="">e ;">Kundanahalli</a>
                            <span ></span> |
                            <a href="" >Marathahalli</a>
                            <span ></span> |
                                     </p>
                    </ng-template>  
                   </owl-carousel-o>
                </div>
            </div>
                <div class="container" style="padding: 20px;">
                <h1 class="display-1">Recently added</h1>
                     
                <app-carousel></app-carousel> 
                </div>
            

                <div class="container shadow why py-4 mt-3">
                    <div class="row">
                    <div class="col-md-6">
                    <div class="bs-heading">
                    <h2 class="title" >Why GRUHAM?</h2>
                    </div>
                    <div class="bs-why-rent ">
                    <ul>
                    <li>Fully furnished and ideal for long term
                    and short term <span class="new-line"></span> rentals. Alt to Service Apartments and
                    hotels.</li>
                    <li > largest network of curated rental houses</li>
                    <li > Rent for Any Duration</li>
                    <li > Zero Brokerage Charges</li>
                    <li >Families, Couples, Friends, Singles Welcome!</li>
                    </ul>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="wow fadeInUp" >
                    <picture>
                    <source media="(min-width: 650px)" srcset="https://www.rentmystay.com/resource/home/assets/images/mob-booknew.png">
                    <img class="img-fluid" alt="book-on-mobile" data-pagespeed-url-hash="3281832354" src="https://www.rentmystay.com/resource/home/assets/images/Vectornew.png" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </picture>
                    </div>
                    </div>
                    </div>
                    </div>
                <div class="container shadow py-4 mt-3">
     
                    <h1>Specially Made For You</h1>
                  <app-carousel></app-carousel>
               
                </div>
                <hr>
                <div class="container d-flex shadow mb-5" style="margin-top: 2rem;">
                <h1 class="mt-5">Featured Developers</h1>
                <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-secondary text-secondary">
                <div class="card-body">
                <h4 class="card-title">Brand title</h4>
                <h6 class="card-subtitle mb-2">Location</h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-secondary text-secondary">
                <div class="card-body">
                <h4 class="card-title">Brand title</h4>
                <h6 class="card-subtitle mb-2">Location</h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
                </div>
                </div> <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-secondary text-secondary">
                <div class="card-body">
                <h4 class="card-title">Brand title</h4>
                <h6 class="card-subtitle mb-2">Location</h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
                </div>
                </div>
                </div>
                </div>
                <hr> 
                <h1 class="display-1 text-center">Testimonals</h1>
                <div class="container justify-content-center d-flex" style="padding:20px;">
                <div class="card-group  justify-content-center">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4 justify-content-center d-flex">
                <div class="card m-2">
                <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg" alt="Bologna">
                <div class="card-body text-center">
                <img class="avatar rounded-circle" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
                <h4 class="card-title">Robert Downey Jr.</h4>
                <h6 class="card-subtitle mb-2 text-muted">House type</h6>
                <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age. </p>
                <a href="#" class="btn btn-outline-info">Message</a>
                </div>
                </div>
                </div>
                 <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card m-2">
                <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg" alt="Bologna">
                <div class="card-body text-center">
                <img class="avatar rounded-circle" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
                <h4 class="card-title">Robert Downey Jr.</h4>
                <h6 class="card-subtitle mb-2 text-muted">House type</h6>
                <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age. </p>
                <a href="#" class="btn btn-outline-info">Message</a>
                </div>
                </div>
                </div> 
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card m-2">
                <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg" alt="Bologna">
                <div class="card-body text-center">
                <img class="avatar rounded-circle" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
                <h4 class="card-title">Robert Downey Jr.</h4>
                <h6 class="card-subtitle mb-2 text-muted">House type</h6>
                <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age. </p>
                <a href="#" class="btn btn-outline-info">Message</a>
                </div>
                </div>
                </div>
                </div>
                <!-- <div class="alert alert-dark alert-dismissible fade show fixed-bottom" role="alert">
    <strong>Hey there!</strong>100% Sanitized houses
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
     </div> -->
                </div>